# IDE and build files
.vs/
.slnx
**/bin/
**/obj/
build_errors.txt
dokumentuak/
*.user

# Large files (>100MB)
**/*.exe
**/*.zip
**/*.rar
**/beurer_tentsiometroa_pultsometroa/
osscache
*.sln.docstates
*.slnx
build_errors.txt
